@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .h-screen {
    height: 100svh;
  }
}

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */
}

body {
  padding: 0;
  margin: 0;
  /* font-size: 14px; */
}

.adm-form .adm-form-footer {
  padding-top: 0px;
  padding-bottom: 0px;
}

.adm-list-item.add-item > .adm-list-item-content {
  @apply py-2.5;
}

.mapboxgl-ctrl.mapboxgl-ctrl-group,
.mapboxgl-ctrl-icon.mapboxgl-ctrl-geolocate {
  @apply w-full h-full rounded-full;
}
